*{
    margin: 0;
    padding: 0;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form{
    margin:auto;
    align-content: center;
    font-size: 16px;
}
.texto{
    background: blue;
    border-radius: 8px;
}
.edad{
    background: blue;
    border-radius: 8px;
}
.envia{
    background: blue;
    border-radius: 4px;

font-size: 16px;
}