*{
    margin: 0;
    padding: 0;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form{
    margin:auto;
    align-content: center;

}
.texto{
    background: blue;
    border-radius: 4px;
}
.edad{
    background: blue;
    border-radius: 4px;
}
.envia{
    background: blue;
    border-radius: 4px;
}